@tailwind base;
@tailwind components;
@tailwind utilities;

.flash-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
.flash-message.error {
    background-color: #f8d7da;
    color: #721c24;
  }

::-webkit-scrollbar {
    width: 12px; /* Adjust the width as needed */
  }
  
  /* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: #a0f5ca; /* Set the background color to match your background */
    border-radius: 10px; /* Add rounded corners to the thumb */
  }

