@tailwind base;
@tailwind components;
@tailwind utilities;

.flash-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
.flash-message.error {
    background-color: #f8d7da;
    color: #721c24;
  }

::-webkit-scrollbar {
    width: 12px; /* Adjust the width as needed */
  }
  
 
::-webkit-scrollbar-thumb {
    background-color: #a0f5ca;
    border-radius: 10px;
  }

